@media (max-width: 1199px) {
  .side-bar {
    transition: all ease-in-out 0.5s;
    transform: translateX(-100%);
  }
  .nav-open {
    transform: translateX(0);
  }
  .mobile-nav-toggle {
    display: inline-flex;
  }
  .footer {
    display: none;
  }
  #main {
    margin-left: 0;
  }
  .img-fluid {
    width:100%;
    height: auto;
  }
  
  .row {
    
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
