@media (max-width: 1199px) {
  .side-bar {
    transition: all ease-in-out 0.5s;
    transform: translateX(-100%);
  }
  .nav-open {
    transform: translateX(0);
  }
  .mobile-nav-toggle {
    display: inline-flex;
  }
  .footer {
    display: none;
  }
  .img-fluid{
    width: 80%;
  }
  .about-section .container {
    padding: 0 16px;
  }
  #main {
    margin-left: 0;
  }
  

  .row {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .grid-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
 
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .skils-bar {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
